*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height:100vh;
}

section nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    position:fixed;
    right:0;
    left:0;
    background-color:brown;
    background:url("C:\Users\naush\OneDrive\Desktop\fl1.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index:1000;
}

section nav .logo img{
    width:100px;
    cursor:pointer;
    margin:7px 0;
}

section nav ul{
    list-style:none;
}

section nav ul li{
    display:inline-block;
    margin:0 15px;

}

.btn{
    padding:15px 30px;
    border:none;
    outline:none;
    color:rgb(235, 177, 101);
    cursor:pointer;
    position:relative;
    z-index:0;
    border-radius:12px;
    font-family:Arial, Helvetica, sans-serif
    transition:0.1s;
}

.btn::after{
    content:"";
    z-index:-1;
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgb(29, 0, 0);
    left:0;
    top:0;
    border-radius: 10px;
    display: block;
    transition: 0.2 linear;
}

.btn:hover::after{
    width:100%;
}

.btn:hover{
    color:rgb(214, 142, 54);
}


section .about{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    position: relative;
    top:115px;
    background-image: url(restbg.png);
    background-repeat: no-repeat;
    background-size:cover;
}

section .about .about_image{
    max-width:100%;
    text-align:start;
}

section .about .about_image img{
    width:100%;
    height:auto;
}

section .about .about_text{
    flex:1;
    max-width:100%;
    padding:65px;
    text-align:center;
    overflow:hidden;
}

section .about .about_text h1{
    font-size: 70px;
    flex:1;
    position: relative;
    color:rgb(170, 115, 13);
    min-width:300px;
    padding:20px;
    text-align:center;
    
}

section .about .about_text h3,p{
    font-size:30px;
    position: relative;
    color:rgb(104, 44, 16);
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 20px;
}